<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servs.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategory</servlet-name>
        <servlet-class>Servs.SubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondForward</servlet-name>
        <servlet-class>Servs.SecondForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contribute</servlet-name>
        <servlet-class>Servs.Contribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Servs.Insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategory</servlet-name>
        <url-pattern>/SubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondForward</servlet-name>
        <url-pattern>/SecondForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contribute</servlet-name>
        <url-pattern>/Contribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
